---
# Only the main Sass file needs front matter (the dashes are enough)
---
* {
    font-family: open sans;       
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0; 
}

a {
  text-decoration: none; }
  a:visited { 
    text-decoration: none;
  }
  a:hover {
    text-decoration: none; 
  }

@import
        "-sections-dir",
        "syntax-highlighting",
        "header"
;