<section>
    
    <h3>About Myself</h3>
    
    <div class="face-lockup">
        <div class="face-img"></div>
        
        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
        <div class="icon-browser">{% include icons/icon-browser.html %}</div>
        <div class="icon-video">{% include icons/icon-video.html %}</div>
    </div>
    <div class="blurb">
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Curabitur euismod, libero vitae luctus congue, lacus tortor feugiat nisl, quis ornare augue ipsum non orci. Fusce pulvinar, sapien in volutpat semper, lectus sem consectetur diam, vitae hendrerit velit est nec sapien. Quisque scelerisque elit nibh, ut blandit lacus accumsan vitae. Aliquam eu dolor feugiat, rutrum lacus sit amet, facilisis justo. Pellentesque elementum lorem a lobortis elementum. Cras tempor nisl scelerisque euismod egestas. Mauris ornare ipsum vel ultricies blandit. Mauris nibh ipsum, vulputate in augue euismod, aliquam vulputate lectus.</p>
    </div>



</section>